svg {
    overflow: visible;
}

#fig-credit {
    position:absolute;
    top:225px;
    right:155px;
}

#model-container {
    height: 750px;
}

#stop-heat {
    position: absolute;
    left: 155px;
    top: 350px;
    width: 125px;
    z-index: 1;
}


.text {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.crop{
    float:left;
    overflow:hidden;
    position:relative;
    width:960px;
    height:220px;
    }

.crop img{
    position:absolute;
    left: 0px;
    width: 100%;
    }

#heat {
    position: absolute;
    left: 245px;
    top:  -100px;
    margin: 0 auto;
}

#mars {
    position: absolute;
    left: 0;
    top:  0;
    margin: 0 auto;
}

#right-mars {
    position: relative;
}

#left-mars {
    position: absolute;
    top: 0;
}


.shape-right {
    float: right;
    shape-outside: circle(140px at 480px 150px);
    shape-margin: 0em;
    width:960px;
    height:300px;
}

.shape-left {
    float: left;
    shape-outside: circle(140px at 480px 150px);
    shape-margin: 0em;
    width:960px;
    height:300px;
}

#mars-container{
    position:relative;
    top:0px
}


.button {
    cursor: pointer;
    background: #ddf;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}


h2 {
  font-family: 'Reenie Beanie', cursive;
  font-size:    40px;
}

h3 {
  font-family: 'Reenie Beanie', cursive;
  font-size:    32px;
  font-weight: normal;
}



.left_col {
    float: left;
    width: 450px;
}

.right_col {
    float: right;
    width: 450px;
}

.clear {
    clear: both;
}

#data {
    position: relative;
    left: 0;
    top:  -20px;
    margin: 0 auto;
}

#crust, #thermo, #control {
    position: absolute;
    left: 0;
    top:  0;
    margin: 0 auto;
}

#thermo-label, #thermo-units {
    position: absolute;
    font-family: 'Reenie Beanie', cursive;
    font-size:    30px;
}

#thermo-left, #thermo-right {
    position: absolute;
    font-family: 'Reenie Beanie', cursive;
    font-size:    20px;
}

#depth-label {
    position: absolute;
    font-size: 14px;
}

#analyze {
    position: relative;
    left: 0;
    top:  0;
    margin: 0 auto;
}

#plot {
    position: absolute;
    left: 0;
    top:  0;
    margin: 0 auto;
    z-index: 0;
}

#guide {
    position: absolute;
    left: 0;
    top:  0;
    margin: 0 auto;
    z-index: 0;
}

#equation {
    position: absolute;
    left: 30px;
    top: 0;
    margin: 0 auto;
}


.modelline {
    fill: none;
    stroke: green;
    stroke-width: 2;
    /*shape-rendering: crispEdges;*/
}

.modelcircle {
    fill: green;
    stroke: black;
    stroke-width: 2;
    /*shape-rendering: crispEdges;*/
    cursor: pointer;
    opacity: 0.5;
}



.digital-display .on {
    fill: black;
}

.digital-display .off {
    fill: white;
    opacity: 0;
}


path {
  fill: none;
  stroke-linejoin: round;
}

.sphere, {
  stroke: #aaa;
}

.graticule {
  stroke: #aaa;
}

.axis path, .axis line {
  fill: none;
  stroke: steelblue;
  shape-rendering: auto;
}


.foot .puzlet-link { float:left }
.foot .org-link { float:right }

