svg {
    overflow: visible;
}

h2 {
  font-family: 'Reenie Beanie', cursive;
  font-size:    40px;
}

h3 {
  font-family: 'Reenie Beanie', cursive;
  font-size:    32px;
  font-weight: normal;
}

.left_col {
    float: left;
    width: 450px;
}

.right_col {
    float: right;
    width: 450px;
}

.clear {
    clear: both;
}

.text {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.crop{
    float:left;
    overflow:hidden;
    position:relative;
    width:960px;
    height:220px;
}

.crop img{
    position:absolute;
    left: 0px;
    width: 100%;
}


#fig-credit {
    position:absolute;
    top:225px;
    right:155px;
}

#stop-heat {
    position: relative;
    right: 0px;
    bottom: 0px;
    width: 125px;
    z-index: 1;
}

#model-container {
    height: 750px;
}

#mars {
    width: 450px;
    height: 450px;
    right: 0;
    top:  0;
    margin: 0 auto;
    border: 2px solid #ccc;
}

.button {
    cursor: pointer;
    background: #ddf;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

#crust, #thermo, #control {
    position: absolute;
    left: 0;
    top:  0;
    margin: 0 auto;
}

#thermo-label, #thermo-units {
    position: absolute;
    font-family: 'Reenie Beanie', cursive;
    font-size:    30px;
}

#thermo-left, #thermo-right {
    position: absolute;
    font-family: 'Reenie Beanie', cursive;
    font-size:    20px;
}

#depth-label {
    position: absolute;
    font-size: 14px;
}

#data {
    position: relative;
    left: 0;
    top:  -20px;
    margin: 0 auto;
}

#analyze {
    position: relative;
    left: 0;
    top:  0;
    margin: 0 auto;
}

#plot {
    position: absolute;
    left: 0;
    top:  0;
    margin: 0 auto;
    z-index: 0;
}

#guide {
    position: absolute;
    left: 0;
    top:  0;
    margin: 0 auto;
    z-index: 0;
}

#equation {
    position: absolute;
    left: 30px;
    top: 0;
    margin: 0 auto;
}

.modelline {
    fill: none;
    stroke: green;
    stroke-width: 2;
}

.modelcircle {
    fill: green;
    stroke: black;
    stroke-width: 2;
    cursor: pointer;
    opacity: 0.5;
}

.digital-display .on {
    fill: black;
}

.digital-display .off {
    fill: white;
    opacity: 0;
}

path {
  fill: none;
  stroke-linejoin: round;
}

.sphere, {
  stroke: #aaa;
}

.graticule {
  stroke: #aaa;
}

.axis path, .axis line {
  fill: none;
  stroke: steelblue;
  shape-rendering: auto;
}

.control-circle {
    cursor: ew-resize;
}

.foot .puzlet-link { float:left }
.foot .org-link { float:right }

